<mat-card>
    <mat-toolbar><span>Order No #{{orderMaster.OrderNumber}}({{orderMaster.OrderDate}}) </span></mat-toolbar>
    <mat-card-content>
        <div>
            <h4>Shipping Address :</h4> 
            <p><strong>Name :</strong>{{orderMaster.CustomerName}} ({{orderMaster.ContactNo}})</p>
            {{orderMaster.ShippingAddress}}
        </div>
            <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderProduct">
                            <td>
                                <img src="{{item.ProductImage}}" style="height: 50px;width:80px;" alt="image"/>
                            </td>
                            <td>
                                {{item.ProductName}}
                            </td>
                            <td>
                                {{item.Quantity}}
                            </td>
                            <td>
                                {{item.UnitPrice}}
                            </td>
                            <td>
                                {{item.TotalPrice}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">Grand Total</th>
                            <th colspan="2">{{grandTotal}}</th>
                        </tr>
                    </tfoot>
                </table>
    </mat-card-content>
</mat-card>